/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/Java_automation_crash.iml
/Fedyniak/target/classes/org/example/Main.class
/.idea/misc.xml
/.idea/modules.xml
/Fedyniak/target/classes/org/example/Person.class
/.idea/vcs.xml
/Fedyniak/pom.xml
